<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag</title>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Flag for Admin</h1>
        <nav>
            <a href="/community">Back to Community</a>
        </nav>
    </header>
    <main>
        <div class="flag-container">
            <h2>Here is your flag:</h2>
            <p>{{ flag }}</p>
        </div>
    </main>
</body>
</html>
